@font-face {
  font-family: "Trickster";
  src:
    local("Trickster"),
    url("trickster-COLRv1.otf") format("opentype"),
    url("trickster-outline.otf") format("opentype"),
    url("trickster-outline.woff") format("woff");
}

body {
  font-family: "Trickster", sans-serif; /* Apply the custom font */
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}

header {
  background: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

header .highlight {
  color: #f4f4f4;
}

nav {
  background: #333;
  color: #fff;
  padding: 0.5rem;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

nav ul li a:hover {
  background: #555;
  border-radius: 5px;
}

main {
  padding: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: 0;
}

.main-section {
  background: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column; /* Adjust layout for column arrangement */
}

.article-image {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 1rem; /* Add space below the image */
}

.subsection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Responsive columns */
  gap: 1rem; /* Spacing between grid items */
}

button {
  background: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #555;
}

aside {
  padding: 1rem;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Deeper shadow */
}

aside h3 {
  margin-top: 0;
}

aside img {
  width: 100%;
  border-radius: 5px;
}

aside a.expand {
  display: block;
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #333;
}

footer {
  background: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

footer p {
  margin: 0;
}
